/*  Structure

1.  Fonts including
2.  General styles
3.  Header
4.  Form 

*/

/* 1.  Fonts including */
@font-face {
    font-family: "MuseoSansCyrlLight";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/MuseoSansCyrlLight/MuseoSansCyrlLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrlLight/MuseoSansCyrlLight.woff") format("woff"), url("../fonts/MuseoSansCyrlLight/MuseoSansCyrlLight.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSansCyrlRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSansRegular/MuseoSansCyrlRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrlRegular/MuseoSansCyrlRegular.woff") format("woff"), url("../fonts/MuseoSansCyrlRegular/MuseoSansCyrlRegular.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSansCyrlBold";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/MuseoSansCyrlBold/MuseoSansCyrlBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrlBold/MuseoSansCyrlBold.woff") format("woff"), url("../fonts/MuseoSansCyrlBold/MuseoSansCyrlBold.ttf") format("truetype");
}

/* 2.  General styles */
$padding-standart: 120px 0px;
$padding-small: 90px 0px;
$typography-color-standart: 16px;
$blue: rgb(15, 148, 219);
$gold: #ffe5db;
$white: #fff;
$green: #2ecc71;

body {
    color: #787878;
    letter-spacing: 1px;
    font-family: 'MuseoSansCyrlRegular', sans-serif;
    min-width: 320px;
    max-width: 100%;
    font-size: $typography-color-standart;
}

section {
    padding: $padding-standart;
    text-align: center;

    @media only screen and (max-device-width: 767px) {
        padding: $padding-small;
    }
}

.banner-section {
    position: relative;
    top: 0;
    letter-spacing: 0;
}

.right-content {
    position: absolute;
    top: 0;
    color: $white;

    @media only screen and (max-device-width: 767px) {
        top: -20px;
    }

    @media only screen and (max-device-width: 545px) {
        top: -45px;
    }
}

.left-content {
    text-align: left;
    position: absolute;
    top: 0;
    color: $white;
}

h2 {
    font-size: 50px;

    @media only screen and (max-device-width: 1199px) {
        font-size: 42px;
        line-height: 42px;
    }

    @media only screen and (max-device-width: 991px) {
        font-size: 27px;
        line-height: 30px;
    }

    @media only screen and (max-device-width: 545px) {
        font-size: 20px;
        line-height: 25px;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;

    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

.btn {
    border: solid 1px $white;
    border-radius: 0;
    font-size: 16px;
    transition: .3s;
    min-width: 150px;
    margin-top: 30px;

    @media only screen and (max-device-width: 767px) {
        margin-top: 10px;
        float: left;
    }

    &:hover {
        background-color: rgb(61, 155, 233);
        border-color: rgba(61, 155, 233, 1);
    }
}

body {
    height: 3000px;
}

/* 3.  Header */
header {
    height: 949px;
    color: $white;

    &.sticky {

        .header {

            .sticky-wrapp {
                position: fixed;
                background: rgba(255, 255, 255, 1);
                left: 0;
                top: 0;
                width: 100%;
                transition: .5s;
                color: #333;
            }
        }
    }

    .header {
        background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/header-background.jpg');
        height: 809px;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;

        .sticky-wrapp {
            background: rgba(255, 255, 255, 0);
            padding-top: 27px;

            .__tob-bar-left {
                text-align: left;

                /* Mobile navigation */
                .toggle_mnu {
                    z-index: 100;
                    border: none;
                    background: transparent;
                    z-index: 999;
                    margin-top: 11px;
                    color: $white;

                    &:hover{

                        .sw-topper, .sw-bottom, .sw-footer {
                            background: #b8c0c7;
                        }

                        a{
                            color: #b8c0c7;
                        }
                    }

                    @media only screen and (max-device-width: 767px) {
                        right: 5px;
                    }

                    a{
                        font-size: 11px;
                        margin-left: 5px;
                        transition: .5s;
                    }

                    span {
                        display: block;
                    }
                }

                .toggle_mnu:hover {
                    cursor: pointer;
                }

                .sandwich {
                    width: 28px;
                    height: 28px;
                    margin: auto;
                    z-index: 200;
                    float: left;
                    margin-top: 2px;
                }

                .sw-topper {
                    position: relative;
                    top: 0;
                    width: 24px;
                    height: 4px;
                    background: $white;
                    border: none;
                    border-radius: 4px 4px 4px 4px;
                    display: block;
                    z-index: 99;
                    transition: .5s;
                }


                button:focus {
                    outline: 0;
                }

                .sw-bottom {
                    position: relative;
                    width: 17px;
                    height: 4px;
                    top: 4px;
                    background: $white;
                    border: none;
                    border-radius: 4px 4px 4px 4px;
                    z-index: 99;
                    transition: .5s;
                }

                .sw-footer {
                    position: relative;
                    width: 21px;
                    height: 4px;
                    top: 8px;
                    background: $white;
                    border: none;
                    border-radius: 4px 4px 4px 4px;
                    z-index: 99;
                    transition: .5s;
                }

                .sandwich.active {

                    .sw-topper {
                        width: 28px;
                        top: 9px;
                        -webkit-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }

                    .sw-bottom {
                        width: 28px;
                        top: 6px;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                    .sw-footer {
                        width: 28px;
                        opacity: 0;
                        top: 0;
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }

                .top_mnu {
                    position: fixed;
                    height: 100%;
                    background: rgba(0,0,0,.94);
                    z-index: 99;
                    left: -581px;
                    top: 0;
                    display: none;
                    width: 581px;
                    transition: 1s;

                    .sandwich {
                        color: $white;
                        font-size: 35px;
                        position: absolute;
                        right: 20px;
                        top: 0px;
                    }

                    ul,
                    li {
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                    }

                    ul {
                        margin-top: 230px;
                        text-align: center;
                        -webkit-animation-duration: 0.01s;
                        animation-duration: 0.01s;

                        li {

                        }

                        a {
                            color: $white;
                            display: block;
                            font-size: 12px;
                            opacity: 1;
                            position: relative;
                            outline: none;
                            font-size: 26px;
                            line-height: 50px;
                        }

                        a:hover {
                            text-decoration: none;
                        }
                    }
                }

                .__tob-bar-right{
                    text-align: right;
                }
            }
        }  

        .carousel{
            height: 140px;
        }
    }
}


/* 4.  Form 
input,
textarea {
    border-radius: 5px;
}

.wpcf7 {
    width: 100%;
}

.breadcrambs{
    background: url(../img/slider-1.jpg);

    .inner-wrap{
        height: 100px;
    }

}

.wpcf7 label {
    width: 100%;
    margin-bottom: 0;
}


.wpcf7 .wpcf7-validation-errors {
    display: none !important;
}

.wpcf7 .wpcf7-form {
    width: 100%;
}

.wpcf7 .wpcf7-form .wpcf7-not-valid-tip {
    line-height: 35px;
}

.wpcf7 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7 .wpcf7-form .wpcf7-validation-errors,
.wpcf7 .wpcf7-form .wpcf7-mail-sent-ok {
    margin-top: 60px;
}

.wpcf7 .wpcf7-form .help-develop {
    float: left;
    display: block;
    line-height: 60px;
    margin-right: 10px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .help-develop {
        line-height: 40px;
    }
}

.wpcf7 .wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form span.wpcf7-form-control-wrap {
        width: 100%;
        text-align: left;
    }
}

.wpcf7 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: auto;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
        width: 100%;
        text-align: left;
    }
}

.wpcf7 .wpcf7-form span.textarea-text {
    width: 100%;
}

.wpcf7 .wpcf7-form p input {
    width: 100%;
    float: left;
    padding: 0.75rem;
    border: solid 1px #eee;
}
@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p input {
        width: 100%;
    }
}

.wpcf7 .wpcf7-form p select {
    height: 40px;
    margin-top: 10px;
    float: left;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p select {
        margin-top: 0px;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-email {
    margin-left: 0;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p .wpcf7-email {
        margin-left: 0;
        margin-top: 0;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-textarea {
    margin-top: 2%;
    padding: 0.75rem;
    border: solid 1px #eee;
    width: 100%;
    margin-bottom: 0;
}

.wpcf7 .wpcf7-form p .wpcf7-textarea,
.wpcf7 .wpcf7-form p .wpcf7-input {
    color: #888;
}

.wpcf7 .wpcf7-form p input:focus,
.wpcf7 .wpcf7-form p textarea:focus {
    outline-color: $white;
}

.wpcf7 .wpcf7-form p .wpcf7-submit {
    display: block;
    height: 60px;
    width: 230px;
    background-color: $white;
    border: none;
    color: $blue;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

    &:focus{
        outline: none;
    }

    &:active{
        outline: none;
    }

    @media only screen and (max-device-width: 991px) {
        margin-bottom: 30px;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-submit:hover {
    box-shadow: none;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
}

.wpcf7 .wpcf7-form span.textarea-comment {
    width: 100%;
}

.wpcf7 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7#wpcf7-f27-o1 {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-validation-errors {
    display: none !important;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-not-valid-tip {
    line-height: 35px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-validation-errors,
.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-mail-sent-ok {
    margin-top: 60px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
    float: left;
    display: block;
    line-height: 60px;
    margin-right: 10px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
        line-height: 40px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
        width: 100%;
        text-align: left;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: auto;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
        width: 100%;
        text-align: left;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-text {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
    width: 100%;
    float: left;
    padding: 0.75rem;
    border: solid 1px #eee;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
        width: 100%;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
    height: 40px;
    margin-top: 10px;
    float: left;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
        margin-top: 0px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
    margin-left: 0;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
        margin-left: 0;
        margin-top: 0;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea {
    margin-top: 2%;
    padding: 0.75rem;
    border: solid 1px #eee;
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea,
.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-input {
    color: #888;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p input:focus,
.wpcf7#wpcf7-f27-o1 .wpcf7-form p textarea:focus {
    outline-color: $white;
}



.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit {
    display: block;
    height: 60px;
    width: 230px;
    background-color: $white;
    border: none;
    color: $blue;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border-radius: 30px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit:hover {
    box-shadow: none;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-comment {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}
*/