/*  Structure

1.  Fonts including
2.  General styles
3.  Header
4.  Form 

*/
/* 1.  Fonts including */
@font-face {
  font-family: "MuseoSansCyrlLight";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/MuseoSansCyrlLight/MuseoSansCyrlLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrlLight/MuseoSansCyrlLight.woff") format("woff"), url("../fonts/MuseoSansCyrlLight/MuseoSansCyrlLight.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansCyrlRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansRegular/MuseoSansCyrlRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrlRegular/MuseoSansCyrlRegular.woff") format("woff"), url("../fonts/MuseoSansCyrlRegular/MuseoSansCyrlRegular.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansCyrlBold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/MuseoSansCyrlBold/MuseoSansCyrlBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrlBold/MuseoSansCyrlBold.woff") format("woff"), url("../fonts/MuseoSansCyrlBold/MuseoSansCyrlBold.ttf") format("truetype"); }

/* 2.  General styles */
body {
  color: #787878;
  letter-spacing: 1px;
  font-family: 'MuseoSansCyrlRegular', sans-serif;
  min-width: 320px;
  max-width: 100%;
  font-size: 16px; }

section {
  padding: 120px 0px;
  text-align: center; }
  @media only screen and (max-device-width: 767px) {
    section {
      padding: 90px 0px; } }

.banner-section {
  position: relative;
  top: 0;
  letter-spacing: 0; }

.right-content {
  position: absolute;
  top: 0;
  color: #fff; }
  @media only screen and (max-device-width: 767px) {
    .right-content {
      top: -20px; } }
  @media only screen and (max-device-width: 545px) {
    .right-content {
      top: -45px; } }

.left-content {
  text-align: left;
  position: absolute;
  top: 0;
  color: #fff; }

h2 {
  font-size: 50px; }
  @media only screen and (max-device-width: 1199px) {
    h2 {
      font-size: 42px;
      line-height: 42px; } }
  @media only screen and (max-device-width: 991px) {
    h2 {
      font-size: 27px;
      line-height: 30px; } }
  @media only screen and (max-device-width: 545px) {
    h2 {
      font-size: 20px;
      line-height: 25px; } }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    text-decoration: none;
    color: #fff; }

.btn {
  border: solid 1px #fff;
  border-radius: 0;
  font-size: 16px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  min-width: 150px;
  margin-top: 30px; }
  @media only screen and (max-device-width: 767px) {
    .btn {
      margin-top: 10px;
      float: left; } }
  .btn:hover {
    background-color: #3d9be9;
    border-color: #3d9be9; }

body {
  height: 3000px; }

/* 3.  Header */
header {
  height: 949px;
  color: #fff; }
  header.sticky .header .sticky-wrapp {
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #333; }
    header.sticky .header .sticky-wrapp .__tob-bar-left {
      text-align: left; }
      header.sticky .header .sticky-wrapp .__tob-bar-left .logo-box {
        display: none; }
  header .header {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/header-background.jpg");
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header-background.jpg");
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header-background.jpg");
    height: 809px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover; }
    header .header .sticky-wrapp {
      background: rgba(255, 255, 255, 0);
      padding-top: 27px; }
      header .header .sticky-wrapp .__tob-bar-left {
        text-align: left;
        /* Mobile navigation */ }
        header .header .sticky-wrapp .__tob-bar-left .logo-box {
          margin-top: -27px; }
          header .header .sticky-wrapp .__tob-bar-left .logo-box img {
            max-width: 91px; }
        header .header .sticky-wrapp .__tob-bar-left .toggle_mnu {
          z-index: 100;
          border: none;
          background: transparent;
          z-index: 999;
          margin-top: 11px;
          color: #fff;
          float: left;
          margin-right: 50px; }
          header .header .sticky-wrapp .__tob-bar-left .toggle_mnu:hover .sw-topper,
          header .header .sticky-wrapp .__tob-bar-left .toggle_mnu:hover .sw-bottom,
          header .header .sticky-wrapp .__tob-bar-left .toggle_mnu:hover .sw-footer {
            background: #b8c0c7; }
          header .header .sticky-wrapp .__tob-bar-left .toggle_mnu:hover a {
            color: #b8c0c7; }
          @media only screen and (max-device-width: 767px) {
            header .header .sticky-wrapp .__tob-bar-left .toggle_mnu {
              right: 5px; } }
          header .header .sticky-wrapp .__tob-bar-left .toggle_mnu a {
            font-size: 11px;
            margin-left: 5px;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s; }
          header .header .sticky-wrapp .__tob-bar-left .toggle_mnu span {
            display: block; }
        header .header .sticky-wrapp .__tob-bar-left .toggle_mnu:hover {
          cursor: pointer; }
        header .header .sticky-wrapp .__tob-bar-left .sandwich {
          width: 28px;
          height: 28px;
          margin: auto;
          z-index: 200;
          float: left;
          margin-top: 2px; }
        header .header .sticky-wrapp .__tob-bar-left .sw-topper {
          position: relative;
          top: 0;
          width: 24px;
          height: 4px;
          background: #fff;
          border: none;
          border-radius: 4px 4px 4px 4px;
          display: block;
          z-index: 99;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        header .header .sticky-wrapp .__tob-bar-left button:focus {
          outline: 0; }
        header .header .sticky-wrapp .__tob-bar-left .sw-bottom {
          position: relative;
          width: 17px;
          height: 4px;
          top: 4px;
          background: #fff;
          border: none;
          border-radius: 4px 4px 4px 4px;
          z-index: 99;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        header .header .sticky-wrapp .__tob-bar-left .sw-footer {
          position: relative;
          width: 21px;
          height: 4px;
          top: 8px;
          background: #fff;
          border: none;
          border-radius: 4px 4px 4px 4px;
          z-index: 99;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        header .header .sticky-wrapp .__tob-bar-left .sandwich.active .sw-topper {
          width: 28px;
          top: 9px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        header .header .sticky-wrapp .__tob-bar-left .sandwich.active .sw-bottom {
          width: 28px;
          top: 6px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        header .header .sticky-wrapp .__tob-bar-left .sandwich.active .sw-footer {
          width: 28px;
          opacity: 0;
          top: 0;
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
        header .header .sticky-wrapp .__tob-bar-left .top_mnu {
          position: fixed;
          height: 100%;
          background: rgba(0, 0, 0, 0.94);
          z-index: 99;
          top: 0;
          display: none;
          width: 581px;
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
          @media only screen and (max-device-width: 991px) {
            header .header .sticky-wrapp .__tob-bar-left .top_mnu {
              width: 100%; } }
          header .header .sticky-wrapp .__tob-bar-left .top_mnu .sandwich {
            color: #fff;
            font-size: 35px;
            position: absolute;
            right: 20px;
            top: 0px; }
          header .header .sticky-wrapp .__tob-bar-left .top_mnu .details-box {
            text-align: center; }
            header .header .sticky-wrapp .__tob-bar-left .top_mnu .details-box .img-box {
              margin-bottom: 10px; }
              header .header .sticky-wrapp .__tob-bar-left .top_mnu .details-box .img-box img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 1.5px solid #fff;
                margin: 20px 0 10px; }
            header .header .sticky-wrapp .__tob-bar-left .top_mnu .details-box .social-box a {
              font-size: 30px;
              margin-right: 10px; }
              header .header .sticky-wrapp .__tob-bar-left .top_mnu .details-box .social-box a:last-child {
                margin-right: 0; }
            header .header .sticky-wrapp .__tob-bar-left .top_mnu .details-box .phones-box a {
              font-size: 24px;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
              header .header .sticky-wrapp .__tob-bar-left .top_mnu .details-box .phones-box a:hover {
                color: #b8c0c7; }
          header .header .sticky-wrapp .__tob-bar-left .top_mnu ul,
          header .header .sticky-wrapp .__tob-bar-left .top_mnu li {
            list-style-type: none;
            padding: 0;
            margin: 0; }
          header .header .sticky-wrapp .__tob-bar-left .top_mnu ul {
            margin-top: 90px;
            text-align: center;
            -webkit-animation-duration: 0.01s;
            animation-duration: 0.01s;
            margin-bottom: 30px; }
            header .header .sticky-wrapp .__tob-bar-left .top_mnu ul a {
              color: #fff;
              display: block;
              font-size: 12px;
              opacity: 1;
              position: relative;
              outline: none;
              font-size: 26px;
              line-height: 50px; }
            header .header .sticky-wrapp .__tob-bar-left .top_mnu ul a:hover {
              text-decoration: none; }
      header .header .sticky-wrapp .__tob-bar-right .phone-box {
        width: 216px;
        text-align: right;
        display: block;
        float: right;
        margin-right: 20px; }
        header .header .sticky-wrapp .__tob-bar-right .phone-box p {
          font-size: 11px;
          line-height: 13px;
          margin-bottom: 0; }
        header .header .sticky-wrapp .__tob-bar-right .phone-box a {
          font-size: 22px;
          line-height: 28px;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          header .header .sticky-wrapp .__tob-bar-right .phone-box a:hover {
            color: #b8c0c7; }
        header .header .sticky-wrapp .__tob-bar-right .phone-box span {
          font-size: 11px;
          background-color: #00aa5b;
          border-radius: 5px;
          display: inline-block;
          padding: 0 0.8em;
          line-height: 1.5; }
      header .header .sticky-wrapp .__tob-bar-right .social-box {
        display: block;
        float: right;
        vertical-align: top;
        margin-right: 30px;
        margin-top: 9px; }
        header .header .sticky-wrapp .__tob-bar-right .social-box a {
          font-size: 24px;
          margin-right: 5px;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          header .header .sticky-wrapp .__tob-bar-right .social-box a:hover {
            color: #b8c0c7; }
          header .header .sticky-wrapp .__tob-bar-right .social-box a:last-child {
            margin-right: 0; }
      header .header .sticky-wrapp .__tob-bar-right .button-box {
        display: block;
        float: right; }
        header .header .sticky-wrapp .__tob-bar-right .button-box a {
          margin: 6px 0 0 0;
          border: 1px solid #fff;
          padding: 8px 28px;
          border-radius: 4px;
          font-size: 16px;
          display: inline-block;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          header .header .sticky-wrapp .__tob-bar-right .button-box a:hover {
            border-color: #b8c0c7;
            color: #b8c0c7; }
    header .header .carousel {
      height: 140px; }

/* 4.  Form 
input,
textarea {
    border-radius: 5px;
}

.wpcf7 {
    width: 100%;
}

.breadcrambs{
    background: url(../img/slider-1.jpg);

    .inner-wrap{
        height: 100px;
    }

}

.wpcf7 label {
    width: 100%;
    margin-bottom: 0;
}


.wpcf7 .wpcf7-validation-errors {
    display: none !important;
}

.wpcf7 .wpcf7-form {
    width: 100%;
}

.wpcf7 .wpcf7-form .wpcf7-not-valid-tip {
    line-height: 35px;
}

.wpcf7 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7 .wpcf7-form .wpcf7-validation-errors,
.wpcf7 .wpcf7-form .wpcf7-mail-sent-ok {
    margin-top: 60px;
}

.wpcf7 .wpcf7-form .help-develop {
    float: left;
    display: block;
    line-height: 60px;
    margin-right: 10px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .help-develop {
        line-height: 40px;
    }
}

.wpcf7 .wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form span.wpcf7-form-control-wrap {
        width: 100%;
        text-align: left;
    }
}

.wpcf7 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: auto;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
        width: 100%;
        text-align: left;
    }
}

.wpcf7 .wpcf7-form span.textarea-text {
    width: 100%;
}

.wpcf7 .wpcf7-form p input {
    width: 100%;
    float: left;
    padding: 0.75rem;
    border: solid 1px #eee;
}
@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p input {
        width: 100%;
    }
}

.wpcf7 .wpcf7-form p select {
    height: 40px;
    margin-top: 10px;
    float: left;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p select {
        margin-top: 0px;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-email {
    margin-left: 0;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p .wpcf7-email {
        margin-left: 0;
        margin-top: 0;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-textarea {
    margin-top: 2%;
    padding: 0.75rem;
    border: solid 1px #eee;
    width: 100%;
    margin-bottom: 0;
}

.wpcf7 .wpcf7-form p .wpcf7-textarea,
.wpcf7 .wpcf7-form p .wpcf7-input {
    color: #888;
}

.wpcf7 .wpcf7-form p input:focus,
.wpcf7 .wpcf7-form p textarea:focus {
    outline-color: $white;
}

.wpcf7 .wpcf7-form p .wpcf7-submit {
    display: block;
    height: 60px;
    width: 230px;
    background-color: $white;
    border: none;
    color: $blue;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

    &:focus{
        outline: none;
    }

    &:active{
        outline: none;
    }

    @media only screen and (max-device-width: 991px) {
        margin-bottom: 30px;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-submit:hover {
    box-shadow: none;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
}

.wpcf7 .wpcf7-form span.textarea-comment {
    width: 100%;
}

.wpcf7 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7#wpcf7-f27-o1 {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-validation-errors {
    display: none !important;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-not-valid-tip {
    line-height: 35px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-validation-errors,
.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-mail-sent-ok {
    margin-top: 60px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
    float: left;
    display: block;
    line-height: 60px;
    margin-right: 10px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
        line-height: 40px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
        width: 100%;
        text-align: left;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: auto;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
        width: 100%;
        text-align: left;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-text {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
    width: 100%;
    float: left;
    padding: 0.75rem;
    border: solid 1px #eee;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
        width: 100%;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
    height: 40px;
    margin-top: 10px;
    float: left;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
        margin-top: 0px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
    margin-left: 0;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
        margin-left: 0;
        margin-top: 0;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea {
    margin-top: 2%;
    padding: 0.75rem;
    border: solid 1px #eee;
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea,
.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-input {
    color: #888;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p input:focus,
.wpcf7#wpcf7-f27-o1 .wpcf7-form p textarea:focus {
    outline-color: $white;
}



.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit {
    display: block;
    height: 60px;
    width: 230px;
    background-color: $white;
    border: none;
    color: $blue;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border-radius: 30px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit:hover {
    box-shadow: none;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-comment {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}
*/
